    
    <div class="hero-unit">
      <br>
      <p>プランニングチームのまとめ<br>
      レイアウトや文の構成、情報の整理をアップデートしながら、提案の素材としてのログ提供を目指す</p>
    </div>
    <div class="container" role="main">
    
      <% @diaries.each do |dia| %>
      <div class="row">
        <div class="span10"></div>
        <div class="span2"><%= dia.title %></div>
      </div>

      <div class="row">
        <div class="span10"><%= markdown(dia.text) %></div>
        <div class="span2"></div>
      </div>
      <% end %>
    
    </div>
