<div id="wrap">
  <table>
    <% @diaries.each do |dia| %>
      <tr>
        <td><%= dia.title %></td>
      </tr>

      <tr>
        <td><%= markdown(dia.text) %></td>
      </tr>
    <% end %>
  </table>
</div>