    
  <div class="hero-unit">
    <br>
    <p>プランニングチームの方針。<br>
    条件、オーダー、マターを決めて考えることが大事。</p>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="span10"></div>
      <div class="span2"><%= @matters.first.title %></div>
    </div>

    <div class="row">
      <div class="span10"><%= markdown(@matters.first.text) %></div>
    </div>
    
  </div>
